<%= form_with(model: gossip, local: true) do |form| %>
  <% if gossip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gossip.errors.count, "error") %> prohibited this gossip from being saved:</h2>

      <ul>
      <% gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Auteur %>
    <%= form.text_field :anonymous_author, id: :gossip_anonymous_author %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_field :content, id: :gossip_content %>
  </div>

  <div class="actions">
    <% if gossip.id.nil? %>
      <%= form.submit "Ajouter ce potin" %>
    <% else %>
      <%= form.submit "Modifier" %>
    <% end %>
  </div>
<% end %>
