<p id="notice"><%= notice %></p>

<p>
  <strong>Auteur anonyme:</strong>
  <%= @gossip.anonymous_author %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @gossip.content %>
</p>

<%= link_to 'Modifier', edit_gossip_path(@gossip) %> |
<%= link_to 'Retour à la liste', gossips_path %>
